@mixin bulletedList($nest_num: 5) {
    &::before {
        content: '•';
        border: none;
        // border-radius: 50%;
    }

    ul.bulleted-list li {
        &::before {
            content: '◦';
        }

        ul.bulleted-list li {
            &::before {
                content: '▪';
            }

            ul.bulleted-list li {
                @if $nest_num > 0 {
                    @include bulletedList($nest_num - 1);
                }
            }
        }
    }
}

ul.bulleted-list li {
    @include bulletedList(3);

    &:not(:first-child) {
        @apply mt-2;
    }
    li{
        @apply mt-2;
    }

    &::before {
        $size: calc(1rem / 3);
        $mr: 0.5rem;

        display: inline-block;
        margin-right: $mr;

        font-family: Arial;
        font-size: 1.5rem;
        line-height: inherit;
        vertical-align: middle;
    }

    span,
    a {
        vertical-align: middle;
    }
}
