@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap'); /* BIZ UDPGothic をダウンロード */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Monaco';
    src: url('https://gnjo.github.io/monaco-webfont.eot');
    src:
        url('https://gnjo.github.io/monaco-webfont.woff') format('woff'),
        url('https://gnjo.github.io/monaco-webfont.woff2') format('woff2');
}

body {
    font-family: 'BIZ UDPGothic', sans-serif; /* フォントを設定 */
    @apply text-sm md:text-base; /* テキストサイズを設定 */
    @apply tracking-wider; /* 文字間を広げる */
    @apply text-gray-700; /* テキストカラーを設定 */
    @apply bg-orange-50; /* 背景色を設定 */
}

h1 {
    @apply text-3xl font-bold md:text-4xl;
}

h2 {
    @apply text-2xl font-bold md:text-3xl;
}

h3 {
    @apply text-xl font-bold md:text-2xl;
}

h4 {
    @apply text-lg font-bold md:text-xl;
}

h5 {
    @apply text-base font-bold md:text-lg;
}

h6 {
    @apply text-sm font-bold md:text-base;
}

code {
    font-family: Monaco, 'BIZ UDPGothic', monospace !important;
}

/* 整形された数式の下に整形前の数式が表示されるので、それを消す */
.katex-html {
    @apply hidden;
}

/* 数式の上下中央揃え */
span[data-testid='react-katex'] {
    @apply inline-flex items-center;
}

/* 数式の上下中央揃え */
.katex,
.katex-mathml {
    @apply inline-flex;
}
